[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[requires]
python_version = "3.8"

[scripts]
test-unit = "python -m unittest test/unit_tests"
test-integration = "python -m unittest test/integration_tests"